@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employee Details";
}



<div>Name:@Model.Emp.Name</div>
<div>Name:@Model.Emp.Email</div>
<div>Name:@Model.Emp.Department</div>

@section Scripts
{ 
    <script src="~/js/CustomScript.js"></script>
}