@{
    ViewBag.Title = "Custom error";
}

<h5>@ViewBag.ExeptionMessage </h5>
<h5>@ViewBag.ExeptionPath    </h5>
<h5>@ViewBag.ExeptionTrace   </h5>
<div>                        
    <a asp-controller="home" asp-action="index" class="btn btn-danger" style="width:auto">Main page </a>
</div>