
@{
    ViewBag.Title = "Access denied";
}

<div class="text-danger text-center">
    <h5>Access to this recorse is denied, you are not admin</h5>
    <img src="~/images/noaccess.jpg" style="height:300px; width:300px"/>
</div>

